project:
    name: ESPO-G6
    version: 1.0.0
    description: Ensemble de scénarios polyvalents d'Ouranos - Gloabl - CMIP6
    id: eg6

tasks:
  #- initialize_pcat
  - makeref
  - extract
  - regrid
  - rechunk
  - train
  - adjust
  - clean_up
  - final_zarr
  - diagnostics
  - concat

ids:
    # in the TCR likely range #https://zenodo.org/record/6476375#.YnVQNNPMJhE (14) #chunking
#    - CMIP6_ScenarioMIP_BCC_BCC-CSM2-MR_EXPERIMENT_r1i1p1f1_global # remove because missing a file #None
#    - CMIP6_ScenarioMIP_CAS_FGOALS-g3_EXPERIMENT_r1i1p1f1_global # None, but 1 file per year
#    - CMIP6_ScenarioMIP_CMCC_CMCC-ESM2_EXPERIMENT_r1i1p1f1_global # [1, 192, 288]
#    - CMIP6_ScenarioMIP_CNRM-CERFACS_CNRM-ESM2-1_EXPERIMENT_r1i1p1f2_global # [1, 128, 256] # cut didnt work here for some reason.. (x2)
#    - CMIP6_ScenarioMIP_CSIRO-ARCCSS_ACCESS-CM2_EXPERIMENT_r1i1p1f1_global #  [1, 145, 192]
#    - CMIP6_ScenarioMIP_CSIRO_ACCESS-ESM1-5_EXPERIMENT_r1i1p1f1_global # [1, 96, 144]
#    - CMIP6_ScenarioMIP_DKRZ_MPI-ESM1-2-HR_EXPERIMENT_r1i1p1f1_global # [1, 192, 384]
#    - CMIP6_ScenarioMIP_INM_INM-CM5-0_EXPERIMENT_r1i1p1f1_global # [1, 120, 180]
    - CMIP6_ScenarioMIP_MIROC_MIROC6_EXPERIMENT_r1i1p1f1_global # [1, 96, 192]
#    - CMIP6_ScenarioMIP_MPI-M_MPI-ESM1-2-LR_EXPERIMENT_r1i1p1f1_global #[1, 96, 192]
#    - CMIP6_ScenarioMIP_MRI_MRI-ESM2-0_EXPERIMENT_r1i1p1f1_global #[1, 160, 320]
#    - CMIP6_ScenarioMIP_NCC_NorESM2-LM_EXPERIMENT_r1i1p1f1_global #[1, 96, 144]
#    - CMIP6_ScenarioMIP_NIMS-KMA_KACE-1-0-G_EXPERIMENT_r1i1p1f1_global #[1, 144, 192]
#    - CMIP6_ScenarioMIP_NOAA-GFDL_GFDL-ESM4_EXPERIMENT_r1i1p1f1_global #[1, 180, 288]


experiments: &experiments
    - ssp245
    - ssp370

custom:
    regions:
        south:
            name: south
            method: bbox
            bbox:
                lon_bnds: [ -179.95, -10 ]
                lat_bnds: [ 10, 40 ]
        middle:
            name: middle
            method: bbox
            bbox:
                lon_bnds: [ -179.95, -10 ]
                lat_bnds: [ 40, 65 ]
        north:
            name: north
            method: bbox
            bbox:
                lon_bnds: [-179.95, -10]
                lat_bnds: [65, 83.4]
    stack_drop_nans: &stack
        True
    chunks:
#        lat: 25 #10
#        lon: 25 #10
#        loc: 100 #40
        lat: 20 #espo-r
        lon: 20 #espo-r
        loc: 600 #espo-r
#        lat: 2 # test
#        lon: 2 # test
#        loc: 5 # test
        time: -1
    out_chunks:
#        lat: 2 # test
#        lon: 2 # test
        lat: 50
        lon: 50
        time: 4year
    ref_period : &ref_period
        - '1991'
        - '2020'
    sim_period: &sim_period
        - '1950'
        - '2100'
    maximal_calendar:
        noleap



extract:
    chunks: {'time': 365, 'lat':-1, 'lon':-1}

extraction:
    reference:
        search_data_catalogs:
            variables_and_freqs: &var_and_freq
                tasmax: D
                tasmin: D
                pr: D
                dtr: D
            allow_resampling: False
            allow_conversion: True
            periods : *ref_period
            other_search_criteria:
                source: &ref_source
                    "ERA5-Land"
        extract_dataset: {}
    simulations:
        search_data_catalogs:
            variables_and_freqs: *var_and_freq
            match_hist_and_fut: True
            allow_conversion: True
            allow_resampling: False
        extract_dataset:
            periods : *sim_period
            xr_combine_kwargs:
              combine_attrs: override
            xr_open_kwargs:
              drop_variables:
                - height
              #chunks: {'time': 1, 'lon': -1, 'lat': -1} # only for CNRM-ESM2-1
    ref_source: *ref_source

regrid:
  reg1:
    input:
      cur_sim
    target:
      cf_grid_2d:
        lon0_b: 179.05 #274.75
        lon1_b: 351.2 #305.2
        d_lon: 1
        lat0_b: 9 #39.75
        lat1_b: 84 #64
        d_lat: 1
    regrid_dataset:
      regridder_kwargs:
          method: bilinear
          extrap_method: inverse_dist
          locstream_out: False
          reuse_weights: False
  reg2:
    input:
      previous
    target:
      cf_grid_2d:
        lon0_b: 179.04 #274.74
        lon1_b: 351.2 #305.2
        d_lon: 0.5
        lat0_b: 8.9 #39.74
        lat1_b: 84 #64
        d_lat: 0.5
    regrid_dataset:
      regridder_kwargs:
        method: bilinear
        extrap_method: inverse_dist
        locstream_out: False
        reuse_weights: False
  reg3:
    input:
      previous
    target:
      search:
        source: *ref_source
        calendar: noleap
    regrid_dataset:
      regridder_kwargs:
        method: bilinear
        extrap_method: inverse_dist
        locstream_out: *stack
        reuse_weights: False

rechunk:
    worker_mem: 2GB


biasadjust:
    variables:
        dtr:
            training_args:
                reference_period: *ref_period
                method: DetrendedQuantileMapping
                group:
                    group: time.dayofyear
                    window: 31
                xclim_train_args:
                    kind: "*"
                    nquantiles: 50
            adjusting_args:
                simulation_period: *sim_period
                xclim_adjust_args:
                    detrend:
                        LoessDetrend:
                          f: 0.2
                          niter: 1
                          d: 0
                          weights: tricube
                    interp: nearest
                    extrapolation: constant
                bias_adjust_institution: &b_a_inst
                  Ouranos
                bias_adjust_project: &b_a_pro
                  ESPO-G6
        tasmax:
            training_args:
                reference_period: *ref_period
                method: DetrendedQuantileMapping
                group:
                    group: time.dayofyear
                    window: 31
                xclim_train_args:
                    kind: "+"
                    nquantiles: 50
            adjusting_args:
                simulation_period: *sim_period
                xclim_adjust_args:
                  detrend:
                    LoessDetrend:
                      f: 0.2
                      niter: 1
                      d: 0
                      weights: tricube
                  interp: nearest
                  extrapolation: constant
                bias_adjust_institution: *b_a_inst
                bias_adjust_project: *b_a_pro
        pr:
            training_args:
                reference_period: *ref_period
                method: DetrendedQuantileMapping
                group:
                    group: time.dayofyear
                    window: 31
                adapt_freq:
                    thresh: 1 mm d-1
                jitter_under:
                    thresh: 0.01 mm d-1
                xclim_train_args:
                    kind: "*"
                    nquantiles: 50
            adjusting_args:
                simulation_period: *sim_period
                xclim_adjust_args:
                  detrend:
                    LoessDetrend:
                      f: 0.2
                      niter: 1
                      d: 0
                      weights: tricube
                  interp: nearest
                  extrapolation: constant
                bias_adjust_institution: *b_a_inst
                bias_adjust_project: *b_a_pro

clean_up:
    search_data_catalogs:
      variables_and_freqs:
        tasmax: D
        tasmin: D
        pr: D
      allow_conversion: True
      allow_resampling: False
    xscen_clean_up:
      add_attrs:
        global:
          title: ESPO-G6 v1.0.0 - {sim_id} - Region {region_name}
          Notes: |
            Regridded on the grid of ERA5-Land, then bias-adjusted with detrended
            quantile mapping on a day-of-year basis with a window of 31 days, LOESS
            detrending and 50 quantiles. The reference was ERA5-Land over the
            1991-2020 period. Tasmax, dtr and pr were adjusted, tasmin was computed
            from tasmax and dtr after the adjustment.
          redistribution: Redistribution prohibited. For internal use only.
          version: "1.0.0"
        tasmax:
            standard_name: air_temperature
            long_name: Maximal daily temperature
            cell_methods: "time: maximum within days"
        tasmin:
            standard_name: air_temperature
            long_name: Minimal daily temperature
            cell_methods: "time: minimum within days"
        pr:
            standard_name: precipitation_flux
            long_name: Mean daily precipitation flux
            cell_methods: "time: mean within days"
#    final_attrs_names:
#        - bias_adjustment
#        - cell_methods
#        - coordinates
#        - history
#        - long_name
#        - standard_name
#        - units
#    attrs:
#        global:
#            Conventions: CF-1.9
#            title: ESPO-G6 v1.0.0
#            institution: Ouranos
#            source: |
#                Regridded on the grid of ERA5-Land, then bias-adjusted with detrended
#                quantile mapping on a day-of-year basis with a window of 31 days, LOESS
#                detrending and 50 quantiles. The reference was ERA5-Land over the
#                1991-2020 period. Tasmax, dtr and pr were adjusted, tasmin was computed
#                from tasmax and dtr after the adjustment.
#            redistribution: Redistribution prohibited. For internal use only.
#            version: "1.0.0"
#            cat/_data_format_: zarr
#        tasmax:
#            standard_name: air_temperature
#            long_name: Maximal daily temperature
#            cell_methods: "time: maximum within days"
#        tasmin:
#            standard_name: air_temperature
#            long_name: Minimal daily temperature
#            cell_methods: "time: minimum within days"
#        pr:
#            standard_name: precipitation_flux
#            long_name: Mean daily precipitation flux
#            cell_methods: "time: mean within days"

#diagnostics:
#  properties:
#    'mean-tasmax': {'func':sdba.properties.mean, 'var': 'tasmax', 'args': {}}
#    'mean-tasmin': {'func':sdba.properties.mean, 'var': 'tasmin', 'args': {}}
#    'mean-pr': {'func':sdba.properties.mean, 'var': 'pr', 'args': {}}


diagnostics:
  sim:
    input:
      processing_level: final
    dref_for_measure:
      processing_level: diag_ref_prop
    properties_and_measures:
      period: *ref_period
      unstack: *stack
  scen:
    input:
      processing_level: regridded_and_rechunked
    dref_for_measure:
      processing_level: diag_ref_prop
    properties_and_measures:
      period: *ref_period
      unstack: False



scripting:
    measure_time:
        cpu: True
    send_mail:
        to: lavoie.juliette@ouranos.ca
    subject: ESPO-G6
    send_mail_on_exit:
        msg_ok: Toutes les étapes demandées ont été complétées.
        msg_err: Une erreur est survenue durant le traitement.
        on_error_only: True


dask:
    client:
        dashboard_address: 6787
    array.slicing.split_large_chunks: False

logging:
    formatters:
        default:
            format: '%(asctime)s %(levelname)-8s %(name)-15s %(message)s'
            datefmt: '%Y-%m-%d %H:%M:%S'
    handlers:
        console:
            class : logging.StreamHandler
            formatter: default
            level : INFO
        file:
            class: logging.FileHandler
            formatter: default
            level : DEBUG
    loggers:
        xscen:
            level: INFO
            handlers: [file]