aiohappyeyeballs==2.6.2+computecanada
aiohttp==3.13.3+computecanada
aiosignal==1.4.0+computecanada
annotated_doc==0.0.4+computecanada
annotated_types==0.7.0+computecanada
anyio==4.13.0+computecanada
appdirs==1.4.4+computecanada
argon2_cffi==25.1.0+computecanada
argon2_cffi_bindings==25.1.0+computecanada
argparse_dataclass==2.0.0+computecanada
arrow==1.4.0+computecanada
asciitree==0.3.3+computecanada
async_lru==2.3.0+computecanada
attrs==26.1.0+computecanada
babel==2.18.0+computecanada
beautifulsoup4==4.14.3+computecanada
bleach==6.3.0+computecanada
bokeh==3.9.0+computecanada
boltons==25.0.0+computecanada
bottleneck==1.6.0+computecanada
cairocffi==1.7.1+computecanada
cairosvg==2.8.2+computecanada
cartopy==0.25.0+computecanada
cf_xarray==0.11.1+computecanada
cffi==2.0.0+computecanada
cftime==1.6.5+computecanada
charset_normalizer==3.4.7+computecanada
click==8.4.1+computecanada
clisops==0.16.2+computecanada
cloudpickle==3.1.2+computecanada
conda_inject==1.3.2+computecanada
configargparse==1.7.5+computecanada
connection_pool==0.0.3+computecanada
cssselect2==0.9.0+computecanada
dask==2026.3.0+computecanada
dask_jobqueue==0.9.0+computecanada
dask_labextension==7.0.0
defusedxml==0.7.1+computecanada
deprecated==1.3.1+computecanada
distributed==2026.3.0+computecanada
docutils==0.22.4+computecanada
dpath==2.2.0+computecanada
et_xmlfile==2.0.0+computecanada
ete3==3.1.3+computecanada
fasteners==0.20+computecanada
fastjsonschema==2.21.2+computecanada
fastprogress==1.0.5+computecanada
figanos==0.6.0+computecanada
filelock==3.29.0+computecanada
flexcache==0.3+computecanada
flexparser==0.4+computecanada
flox==0.11.2+computecanada
fqdn==1.5.1+computecanada
frozenlist==1.8.0+computecanada
fsspec==2026.4.0+computecanada
geopandas==1.1.3+computecanada
gitdb==4.0.12+computecanada
gitpython==3.1.49+computecanada
greenlet==3.3.1+computecanada
h11==0.16.0+computecanada
h5netcdf==1.8.1+computecanada
h5py==3.15.0+computecanada
httpcore==1.0.9+computecanada
httpx==0.28.1+computecanada
humanfriendly==10.0+computecanada
idna==3.17+computecanada
imageio==2.37.3+computecanada
immutables==0.21+computecanada
intake==2.0.9+computecanada
intake_esm==2025.2.3+computecanada
isoduration==20.11.0+computecanada
jinja2==3.1.6+computecanada
joblib==1.5.3+computecanada
json5==0.14.0+computecanada
jsonpickle==4.1.1+computecanada
jsonpointer==3.1.1+computecanada
jsonschema==4.26.0+computecanada
jsonschema_specifications==2025.9.1+computecanada
jupyter==1.1.1+computecanada
jupyter_console==6.6.3+computecanada
jupyter_events==0.12.0+computecanada
jupyter_lsp==2.3.1+computecanada
jupyter_server==2.17.0+computecanada
jupyter_server_proxy==4.4.0+computecanada
jupyter_server_terminals==0.5.4+computecanada
jupyterlab==4.5.2+computecanada
jupyterlab_pygments==0.3.0+computecanada
jupyterlab_server==2.28.0+computecanada
jupyterlmod==5.3.0+computecanada
lark==1.3.1+computecanada
lazy_loader==0.5+computecanada
llvmlite==0.47.0+computecanada
locket==1.0.0+computecanada
loguru==0.7.3+computecanada
lz4==4.3.3+computecanada
markdown_it_py==4.2.0+computecanada
markupsafe==3.0.3+computecanada
mdurl==0.1.2+computecanada
mistune==3.2.0+computecanada
msgpack==1.1.2+computecanada
multidict==6.7.1+computecanada
mypy_extensions==1.1.0+computecanada
narwhals==2.21.2+computecanada
nbclient==0.10.4+computecanada
nbconvert==7.17.1+computecanada
nbformat==5.10.4+computecanada
netcdf4==1.7.4+computecanada
networkx==3.6.1+computecanada
notebook==7.5.2+computecanada
notebook_shim==0.2.4+computecanada
numba==0.65.0+computecanada
numcodecs==0.15.1+computecanada
numpy_groupies==0.11.3+computecanada
openpyxl==3.1.5+computecanada
packaging==25.0+computecanada
pandas==2.3.3+computecanada
pandocfilters==1.5.1+computecanada
parse==1.22.0+computecanada
partd==1.4.2+computecanada
patsy==1.0.2+computecanada
pint==0.25.3+computecanada
pooch==1.9.0+computecanada
prometheus_client==0.25.0+computecanada
propcache==0.5.2+computecanada
pulp==3.3.2+computecanada
pycparser==3.0+computecanada
pydantic==2.13.4+computecanada
pydantic_core==2.46.4+computecanada
pyfive==1.0.1+computecanada
pyogrio==0.12.1+computecanada
PyQt5==5.15.1+computecanada
PyQt5_sip==12.18.0
pyshp==3.0.8+computecanada
python_json_logger==4.1.0+computecanada
pyyaml==6.0.3+computecanada
rechunker==0.5.4+computecanada
referencing==0.37.0+computecanada
requests==2.34.2+computecanada
reretry==0.11.8+computecanada
rfc3339_validator==0.1.4+computecanada
rfc3986_validator==0.1.1+computecanada
rfc3987_syntax==1.1.0+computecanada
rich==15.0.0+computecanada
roocs_grids==0.1.2+computecanada
rpds_py==0.30.0+computecanada
scikit_image==0.26.0+computecanada
scikit_learn==1.8.0+computecanada
seaborn==0.13.2+computecanada
send2trash==2.1.0+computecanada
setuptools==82.0.1+computecanada
shapely==2.1.2+computecanada
shellingham==1.5.4+computecanada
simpervisor==1.0.0+computecanada
smart_open==7.5.1+computecanada
smmap==5.0.3+computecanada
snakemake==9.17.1+computecanada
snakemake_executor_plugin_cluster_generic==1.0.9+computecanada
snakemake_interface_common==1.23.0+computecanada
snakemake_interface_executor_plugins==9.4.0+computecanada
snakemake_interface_logger_plugins==2.0.0+computecanada
snakemake_interface_report_plugins==1.3.0+computecanada
snakemake_interface_scheduler_plugins==2.0.2+computecanada
snakemake_interface_storage_plugins==4.3.3+computecanada
sortedcontainers==2.4.0+computecanada
soupsieve==2.8.3+computecanada
sparse==0.18.0+computecanada
sqlalchemy==2.0.49+computecanada
sqlmodel==0.0.37+computecanada
statsmodels==0.14.6+computecanada
tabulate==0.10.0+computecanada
tblib==3.2.2+computecanada
tenacity==9.1.4+computecanada
terminado==0.18.1+computecanada
threadpoolctl==3.6.0+computecanada
throttler==1.2.3+computecanada
tifffile==2026.3.3+computecanada
tinycss2==1.4.0+computecanada
toolz==1.1.0+computecanada
typer==0.26.3+computecanada
typing_extensions==4.15.0+computecanada
typing_inspection==0.4.2+computecanada
uri_template==1.3.0+computecanada
urllib3==2.7.0+computecanada
webcolors==25.10.0+computecanada
webencodings==0.5.1+computecanada
websocket_client==1.9.0+computecanada
wrapt==2.1.2+computecanada
xarray==2026.4.0+computecanada
xclim==0.61.0+computecanada
xesmf==0.9.2+computecanada
xscen==0.15.0+computecanada
xsdba==0.7.0+computecanada
xyzservices==2026.3.0+computecanada
yamale==6.1.0+computecanada
yarl==1.24.2+computecanada
yte==1.9.4+computecanada
zarr==2.18.7+computecanada
zict==3.0.0+computecanada
