aiohttp==3.9.1+computecanada
aiosignal==1.3.1+computecanada
annotated_types==0.6.0+computecanada
appdirs==1.4.4+computecanada
argparse_dataclass==2.0.0+computecanada
asciitree==0.3.3+computecanada
Babel==2.15.0+computecanada
bokeh==2.4.3+computecanada
boltons==24.0.0+computecanada
Bottleneck==1.3.6+computecanada
Cartopy==0.22.0+computecanada
cf_xarray==0.9.1+computecanada
click==8.1.7+computecanada
click-plugins==1.1.1+computecanada
cligj==0.7.2+computecanada
clisops==0.13.0+computecanada
cloudpickle==3.0.0+computecanada
conda_inject==1.3.2+computecanada
ConfigArgParse==1.7+computecanada
connection_pool==0.0.3+computecanada
dask==2024.5.1+computecanada
dask_expr==1.1.1+computecanada
dask_jobqueue==0.8.2+computecanada
datrie==0.8.2+computecanada
distributed==2024.5.1+computecanada
docutils==0.21.2+computecanada
dpath==2.2.0+computecanada
fasteners==0.19+computecanada
fastprogress==1.0.3+computecanada
filelock==3.13.1+computecanada
fiona==1.9.5+computecanada
flox==0.9.8+computecanada
frozenlist==1.4.1+computecanada
fsspec==2024.6.0+computecanada
geopandas==0.14.4+computecanada
gitdb==4.0.11+computecanada
GitPython==3.1.43+computecanada
h5netcdf==1.3.0+computecanada
humanfriendly==10.0+computecanada
immutables==0.20+computecanada
intake==0.7.0+computecanada
intake_esm==2024.2.6+computecanada
joblib==1.4.2+computecanada
jsonpickle==3.0.4+computecanada
llvmlite==0.41.1+computecanada
locket==1.0.0+computecanada
loguru==0.7.2+computecanada
lz4==4.3.2+computecanada
msgpack==1.0.4+computecanada
multidict==6.0.5+computecanada
mypy_extensions==1.0.0+computecanada
nbformat==5.10.4+computecanada
numba==0.58.1+computecanada
numcodecs==0.12.1+computecanada
numpy_groupies==0.10.2+computecanada
pandas==2.2.1+computecanada
parse==1.20.1+computecanada
partd==1.4.2+computecanada
patsy==0.5.6+computecanada
Pint==0.23+computecanada
plac==1.4.3+computecanada
platformdirs==4.2.2+computecanada
pooch==1.8.2+computecanada
PuLP==2.8.0+computecanada
pyarrow_hotfix==0.6+computecanada
pydantic==2.7.3+computecanada
pydantic_core==2.18.4+computecanada
pyshp==2.3.1+computecanada
rechunker==0.5.2+computecanada
reretry==0.11.8+computecanada
roocs_grids==0.1.2+computecanada
roocs_utils==0.6.8+computecanada
scikit_learn==1.4.2+computecanada
shapely==2.0.2+computecanada
smart_open==7.0.4+computecanada
smmap==5.0.1+computecanada
snakemake==8.12.0+computecanada
snakemake_executor_plugin_cluster_generic==1.0.9+computecanada
snakemake_interface_common==1.17.2+computecanada
snakemake_interface_executor_plugins==9.2.0+computecanada
snakemake_interface_report_plugins==1.0.0+computecanada
snakemake_interface_storage_plugins==3.2.3+computecanada
sortedcontainers==2.4.0+computecanada
sparse==0.15.4+computecanada
statsmodels==0.14.0+computecanada
stopit==1.1.2+computecanada
tabulate==0.9.0+computecanada
tblib==3.0.0+computecanada
threadpoolctl==3.5.0+computecanada
throttler==1.2.2+computecanada
toolz==0.12.1+computecanada
toposort==1.10+computecanada
wrapt==1.16.0+computecanada
xarray==2024.5.0+computecanada
xclim @ file:///project/ctb-frigon/julavoie/wheels/xclim-0.51.1.dev10-py3-none-any.whl#sha256=71bfe4e4eca19e3a215d683f2f44d31ce0f2bafb6dd66593f14fb1bae3a37421
xesmf==0.8.5+computecanada
xscen==0.9.0+computecanada
yamale==5.2.1+computecanada
yarl==1.9.3+computecanada
yte==1.5.4+computecanada
zarr==2.18.2+computecanada
zict==3.0.0+computecanada
zstandard==0.22.0+computecanada
